.typing:after {
    content: "";
    border-right: 2px solid;
    animation: blink 0.75s step-end infinite;
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    margin-left: 2px;
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
