.typing {
    border-right: 2px solid;
    animation: blink 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
